{
    "presets": [
        [
            "es2015",
            { "modules": false }
        ],
        "react",
    ],
    "env": {
        "test": {
            "plugins": [
                "rewire-exports",
                "istanbul",
            ],
        },
    },
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src/client"],
            }
        ]
    ],
}
