.daily-container {
    height: 100%;
    padding: 5px;
    font-size: 0.75vw;
    position: relative;
    display: flex;
    flex-direction: column;
    .draggable-container {
        flex: 1;
        width: 100%;

        .draggable-item {
            width: 100%;
            border: 1px solid #013FCE;
            position: relative;
            border-radius: 2px;
            .paid {
                color: #00B239;
            }
            .unpaid {
                color: #DD0000;
            }
            .partial-paid {
                color: #FFFF00;
            }
            .dispatch-details {
                font-size: 0.7vw;
                margin-top: -3px;
                opacity: 0.6;
            }
            .dispatch-background {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                z-index: -1;
            }
        }

        .draggable-item:hover {
            cursor: move;
        }

        .draggable-item:not(:first-child) {
            margin-top: 2px;
        }

        .draggable-item.unassigned {
            border: none;
        }

        .draggable-item.unassigned.ready {
            border: none;
            border-left-width: 2px;
            border-left-color: $light-red;
            border-left-style: solid;
        }
    }
    .view-more {
        width: 100%;
        color: $medium-gray;
        input {
            border-radius: 0;
        }
    }
    .show-more-container {
        display: none;
        position: fixed;
        z-index: 999;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        padding: 5px;
        background-color: white;
    }
}

.gu-mirror {
    display: none;
}