.draggable-container {
    padding: 5px;
    height: 100%;
    font-size: 13px;
    position: relative;

    .draggable-item {
        width: 100%;
        border: 1px solid #013FCE;
        position: relative;
        .paid {
            color: #FF0000;
        }
        .unpaid {
            color: #00FF00;
        }
        .partial-paid {
            color: #FFFF00;
        }
        .dispatch-details {
            font-size: 12px;
            color: $medium-gray;
            margin-top: -3px;
        }
        .dispatch-background {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            z-index: -1;
        }
    }

    .draggable-item:hover {
        cursor: move;
    }

    .draggable-item:not(:first-child) {
        margin-top: 2px;
    }

    .view-more {
        position: absolute;
        bottom: 4px;
        width: 100%;
        input {
            border-radius: 0;
            margin-right: 10px;
        }
    }
}
.gu-mirror {
    display: none;
}