.draggable-container {
    padding: 5px;
    height: 100%;

    .draggable-item {
        width: 100%;
        border: 1px solid #013FCE;
    }

    .draggable-item:hover {
        cursor: move;
    }

    .draggable-item:not(:first-child) {
        margin-top: 2px;
    }
}
