/*!
 * Custom SCSS
 */

$fc-header-height: 74px;
$default-cell-height: 50px;

/* Main Full Calendar Header CSS */
.column-header {
    padding-left: 15px;
    font-weight: lighter;
}

.column-header-day-of-month {
    font-size: 40px;
    padding-bottom: 10px;
}

.column-header-today {
    color: $light-blue;
}

#calendar {
}

.unassigned-tasks {
    height: $navigation-calendar-height;
    border-left: 1px solid $border-light-gray;
    padding-top: $fc-header-height;
}

.upper-content {
    margin-left: 250px;
}

.unassigned-task-wrapper {
    height: $navigation-calendar-height - $fc-header-height;
}

.box-container {
    border-style: solid;
    border-width: 1px;
    border-color: $border-light-gray;
    border-top-width: 0rem;
    border-left-width: 0rem;
    padding: 0;
    flex: 1;
}

.cell {
    height: $default-cell-height*2;
}

.display-flex {
    display: flex;
}

#newLocationBtn {
    position: fixed;
    bottom: 1px;
    left: 1px;
    border-radius: 3px;
}

#newDriverBtn {
    position: fixed;
    bottom: 1px;
    left: 110px;
    border-radius: 3px;
}

#newMatchBtn {
    position: fixed;
    bottom: 1px;
    left: 202px;
    border-radius: 3px;
}

#NewLocationDialog,
#NewDriverDialog,
#NewMatchDialog {
    input {
        border-radius: 3px;
    }
}
