$tab-list-width: 50px;
$sidebar-width: 250px;
.ptab-list {
    padding-left: 0;
    width: 50px;
    float: left;
}

.ptab-list-item {
    list-style: none;
    padding: 8px 12px;
    border: 1px solid $border-light-gray;;
    border-top-width: 0;
}

.ptab-list-active {
    background-color: white;
    border-left-width: 3px;
    border-left-color: #00FF00;
}

ol {
    margin-left: 0;
    line-height: 1.5;
}

.ptabs {
    background-color: white;
    border: none;
    width: 100%;
    height: 100vh;
}


.ptab-content {
    float: left;
    width: calc(100% - #{$tab-list-width});

    .driver-wrapper {
        width: 100%;
        overflow: auto;
        .driver {
            position: relative;
            width: 201px;

            padding: 8px 12px;
            border: 1px solid $border-light-gray;
            border-top-width: 0;
            float: left;

            input.switch-view-type {
                position: absolute;
                bottom: 5px;
                border-radius: 0;
            }

            .driver-phone-area {
                font-size: 14px;
                color: $medium-gray;
            }
        }
        .driver-task-wrapper {
            margin-left: $sidebar-width - $tab-list-width + 1px;
            height: 100%;
            table {
                margin-bottom: 0;
            }
        }
    }

    .driver-wrapper.selected {
        border: 1px solid $selected-border-blue;
        border-left-width: 3px;
        .driver {
            margin-left: -3px;

            .name {
                color: $selected-border-blue;
            }
        }
    }
    
    thead {
        border: 0;
    }
}

.auto-scroll {
    overflow: auto;
}
